* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    overflow-x: hidden;
    background-color: rgb(247, 241, 241);
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 36px;
}

nav a {
    text-decoration: none;
    color: black;
}

nav a li {
    list-style: none;
    font-size: 2.06rem;
    cursor: pointer;
    font-weight: 700;
}

nav {
    background-color: white;
    padding: 6px 0;
    display: flex;
    justify-content: space-around;
}

nav ul a {
    text-decoration: none;
    color: black;
}

nav ul a li {
    list-style: none;
    font-size: 20px;
    cursor: pointer;
    font-weight: 600;
    margin: 0 8px;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.min {
    min-height: 10vh;
}

.container {
    margin-top: 12px;
}

.container .deatils {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .deatils .right img {

    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 1px solid rgb(247, 241, 241);
}

.container .deatils div {
    margin: 0 19px;
}

.container .deatils .left {
    padding: 12px 0;
}

.container .deatils .left .element {
    margin: 8px 0;
}

#size {
    font-size: 1.6rem;
    font-weight: 600;

}

.container .deatils .left #developer {
    font-size: 1.2rem;
    font-weight: 600;
    opacity: 0.6;

}

#hello {
    opacity: 0.6;
}

.container .deatils .left button {
    padding: 8px 10px;
    outline: none;
    border: 1px solid black;
    border-radius: 26px;
    cursor: pointer;
    margin: 0 8px;
    font-size: 16px;
    font-weight: 600;
}

.container .deatils .left .info {
    background-color: rgb(33, 32, 32);
    color: rgb(247, 241, 241);
}

#btn:hover {
    background-color: rgb(33, 32, 32);
    color: rgb(247, 241, 241);
}

.container .deatils .left div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .deatils .left div a {
    text-decoration: none;
    color: black;
}

.container .deatils .left div a i {
    font-size: 26px;
    font-weight: 700;
    cursor: pointer;
    margin: 6px 7px;
}

.min-again {
    min-height: 8vh;
}

.about {
    margin-top: 10px;
}

.about .content {
    padding: 6px 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
}

.about .content div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.about .content div span {
    font-size: 1rem;
    opacity: 0.6;
}

.about .content div h2 {
    font-size: 1.7rem;
    font-weight: 600;
}

.about .content div {
    padding: 6px 0;
}

section {
    margin-top: 2%;
}

section .content {
    display: flex;
    justify-content: center;
}

section .content .box {
    width: 290px;
    height: 240px;
    border-radius: 8px;
    background-color: rgb(129, 128, 128)9, 18, 18;
}

section .content .box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-fit: fill;
    border-radius: 8px;
}

section .content .details {
    display: flex;
    justify-content: center;
    align-items: center;

}

section .content .items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

section .content .items #main {
    width: 580px;
    text-align: center;
    margin-top: 2%;
}

section .content .items #main p {
    font-size: 17px;
    gap: 16px;
    opacity: 0.8;
}

section .content .details .box1 {
    width: 280px;
    height: 120px;
    border: 1px solid black;
    border-radius: 12px;
}

section .content .details .box2 {
    width: 280px;
    height: 120px;
    border: 1px solid black;
    border-radius: 12px;
}

section .content div {
    margin: 0 9px;

}

#flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#computer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#education {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#computer i,
p,
h4 {
    margin: 2px 0;
}

#education i,
p,
h4 {
    margin: 2px 0;
}

#computer p {
    opacity: 0.8;
}

#education p {
    opacity: 0.8;
}

.min-again {
    min-height: 6vh;
}

section .exp div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 6px 0;
}

section .exp div span {
    font-size: 16px;
    opacity: 0.6;
}

#second {
    margin-top: 6%;
}

main {
    margin-top: 2%;
    display: flex;
    justify-content: center;
}

main .left1 {
    width: 460px;
    height: 268px;
    border: 1px solid black;
    border-radius: 16px;
    padding: 10px 0;
}

main .right1 {
    width: 460px;
    height: 268px;
    border: 1px solid black;
    border-radius: 16px;
    padding: 10px 0;
}

main .left1 h2 {
    text-align: center;
    opacity: 0.6;
}

main .right1 h2 {
    text-align: center;
    opacity: 0.6;
}

main .left1,
.right1 {
    margin: 0 10px;
}

main .left1 #main1 {
    display: flex;
    justify-content: space-around;
    padding: 6px 6px;
}

main .right1 #main2 {
    display: flex;
    justify-content: space-around;
    padding: 6px 6px;
}

#main1 .left,
.right {
    padding: 10px 0;
}

#main2 .left,
.right {
    padding: 10px 0;
}

#main1 p {
    opacity: 0.8;

}

#main2 p {
    opacity: 0.8;
}

#main1 h4 {

    font-size: 17px;

}

#main2 h4 {
    font-size: 17px;
}

.second-last {
    margin-top: 9%;
}

.second-last div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 6px 0;
}

.second-last div span {
    font-size: 16px;
    opacity: 0.6;
}

.second-last div h2 {
    font-size: 1.8rem;
}

header {
    margin-top: 2%;
}

header .box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

header .box .box1 {
    margin: 0 6px;
    width: 300px;
    height: 328px;
    border-radius: 16px;
    border: 1px solid rgb(34, 33, 33);
    display: flex;
    justify-content: center;

}


header .box .box1 .b {
    width: 240px;
    height: 200px;
    background-color: rgb(77, 75, 75);
    border-radius: 16px;
    margin-top: 17px;
}

header .box .box1 .live {
    width: 240;
    height: 298;

}

header .box .box1 .live .last {
    margin-top: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.last a {
    text-decoration: none;
    color: black;
}

.last button {
    padding: 7px 9px;
    font-size: 17px;
    cursor: pointer;
    border: 1px solid rgb(86, 86, 86);
    border-radius: 26px;

}

.last button:hover {
    color: white;
    background-color: rgb(116, 114, 114);
}

header .box .box1 .b img {
    width: 100%;
    height: 100%;
    border-radius: 16px;
    transition: transform 1.06s ease-in-out;
}

header .box .box1:hover .b img {
    transform: scale(1.08);

}

#last {
    margin-top: 12%;
}

#last header div {
    padding: 6px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#last header div span {
    font-size: 17px;
    opacity: 0.6;
}

#last header div h2 {
    font-size: 2rem;
    margin-top: 2px 0;

}


#last header .insta {
    margin-top: 8%;
    border-radius: 16px;
    border: 1px solid rgb(120, 119, 119);
    width: 300px;
    height: 68px;

}

#last header .insta span a {
    text-decoration: none;
    color: black;

}

#last header .insta span {
    color: black;
    font-size: 19px;
    font-weight: 800;
    opacity: 0.9;
    display: flex;
    justify-content: center;
}

#last header .insta span li {
    list-style: none;
    margin: 0 28px;
}

#last header .insta span li,
i {
    list-style: none;
    margin: 0 6px;
}

.header-last {
    margin-top: 7%;
    background-color: rgb(223, 218, 218);
    min-height: 27vh;
    padding: 8px 20px 8px 8px;
}

.header-last nav ul a {
    text-decoration: none;
    color: black;
}

.header-last nav ul li {
    list-style: none;
    font-size: 2.06rem;
    cursor: pointer;
    font-weight: 700;
    margin: 0 8px;
    font-size: 17px;
}

.header-last nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 28px 8px;
    background-color: rgb(223, 218, 218);

}

.header-last div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 6px;
    margin-top: 2%;
}

.header-last div span {
    font-size: 18px;
    opacity: 0.8;
}

#bars {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    display: none;
}

#bars i {
    color: black;
    cursor: pointer;
    font-size: 26px;
    font-weight: 600;

}

@media screen and (max-width: 536px) {

    #bars {
        display: flex;
    }

    .nav ul {
        display: flex;
        position: absolute;
        top: -100%;
        right: 0%;
        padding: 6px 0;
        gap: 12px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: white;
        height: 0;
        transition: height 1.08s ease-in-out;
        transition: top 1.08s ease-in-out;
    }

    .ul.add {
        display: flex;
        position: absolute;
        top: 7%;
        right: 0%;
        padding: 6px 0;
        gap: 12px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: white;
        height: 26vh;
        z-index: 1;
    }




}

@media screen and (max-width: 532px) {
    .container .deatils {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

}

@media screen and (max-width: 920px) {

    section #content1 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    section #content1 .items {
        margin-top: 4%;
    }

}

@media screen and (max-width: 600px) {

    section #content1 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    section #content1 .items {
        margin-top: 4%;
    }

    section #content1 .items .details {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    section #content1 .items .details .box2 {
        margin-top: 2%;
    }

    section #content1 .items #main {
        width: 278px;
        max-height: max-content;
        padding: 10px 10px 10px 10px;
    }

}


@media screen and (max-width: 746px) {

    main {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    main .left1,
    .right1 {
        margin: 6px 0;
    }
}

@media screen and (max-width: 946px) {
    header .box .box1 {
        margin-top: 10px;
    }
}

@media screen and (max-width: 496px) {
    .header-last div span {
        text-align: center;
    }
}

@media screen and (max-width: 336px) {
    nav ul {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .header-last nav a li {
        margin: 10px 0;
    }
}

@media screen and (max-width: 300px) {

    #last header .insta {
        margin-top: 8%;
        border-radius: 16px;
        border: 1px solid rgb(120, 119, 119);
        width: 270px;
        height: 68px;

    }
}

li:not(#a):hover {
    opacity: 0.6;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: rgb(125, 125, 125);

}



.contact {
    position: fixed;
    top: -80%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: min-content;
    max-width: max-content;
    padding: 8px 8px 8px 8px;
    display: flex;
    justify-content: center;
    transition: top 1.0s ease-in;
}

.contact .form {
    width: 360px;
    height: 400px;
    padding: 8px 8px 8px 8px;
    border: 1px solid rgb(114, 113, 113);
    border-radius: 16px;

}

.contact .form h2 {
    text-align: center;
    font-size: 2.08rem;
    font-weight: 700;

}

.contact .form form {
    padding: 8px 8px 8px 8px;
    margin-top: 2%;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.contact .form form input,
textarea {
    margin-top: 8px;
    font-size: 18px;
    font-weight: 600;
    padding: 8px;
    border-radius: 26px;
    border: 1px solid rgb(125, 123, 123);
    outline: none;

}

.contact .form form::placeholder {
    font-size: 18px;
    font-weight: 600;
}

.contact .form form #contact-btn {
    margin-top: 8px;
    font-size: 18px;
    font-weight: 600;
    padding: 8px;
    border-radius: 26px;
    border: 1px solid rgb(125, 123, 123);
    outline: none;
    cursor: pointer;
}

.contact .form form #contact-btn:hover {
    background-color: rgb(77, 77, 77);
    color: white;
}
.contact .form form textarea{
    resize: none;
}
.contact .form h2 i{
  cursor: pointer;
}
@media screen and (max-width: 360px) {
    .contact .form {
        width: 320px;
        height: 400px;
        padding: 8px 8px 8px 8px;
        border: 1px solid rgb(114, 113, 113);
        border-radius: 16px;
    
    }
}
@media screen and (max-width: 326px) {
    .contact .form {
        width: 300px;
        height: 400px;
        padding: 8px 8px 8px 8px;
        border: 1px solid rgb(114, 113, 113);
        border-radius: 16px;
    
    }
}
@media screen and (max-width: 310px) {
    .contact .form {
        width: 280px;
        height: 400px;
        padding: 8px 8px 8px 8px;
        border: 1px solid rgb(114, 113, 113);
        border-radius: 16px;
        
    }
}
@media screen and (max-width: 290px) {
    .contact .form {
        width: 270px;
        height: 400px;
        padding: 8px 8px 8px 8px;
        border: 1px solid rgb(114, 113, 113);
        border-radius: 16px;
        
    }
}